#div1{
	background-color: blueviolet;
}

body{
	background-color: #94ffc2;
}

#img1{
	pointer-events: none;
}

input{
	width: 390px;
	height: 42px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	text-align: center;
	font-size: 1.3em;
}

#greet{
	width: 90px;
	height: 40px;
}

#greet:hover{
	background-color: #242bff;
	cursor: pointer;
}


#p1{
	font-size: 20px;
}